{% extends 'base.html' %}
{% block content %}
<div class="row" >
   <div class="col-md-4  col-sm-6  col-xs-10 col-xs-offset-1" >
      <div class="row le-bird-box">
         <h4>Log le bird sightings</h4>
         <div class="le-bird" style="margin:10px">
            <label>le species</label>
            <input type="text" class="form-control" placeholder="ROBIN..." id="bird_species">
         </div>
         <div class="le-bird" style="margin:10px">
            <label>le quantity</label>
            <input type="number" class="form-control" placeholder="2..." id="quantity">
         </div>
         <div class="form-group row le-bird" style="margin:10px">
            <label for="time-input" class="col-2 col-form-label">le time</label>
            <div class="col-10">
               <input class="form-control" type="time" value="13:45:50" step="1" id="time-submit">
            </div>
         </div>
         <div class="le-bird" style="margin:10px">
            <button type="button" id="add-sighting"class="btn btn-default" style="font-size: 12px;
               font-weight: 300;
               text-transform: uppercase;
               margin-top: 5px;"> add le sighting </button>
         </div>
      </div>
      <div class="row le-bird-box">
         <h4>When to find le bird</h4>
         <div class="le-bird">
            <div class="input-group">
               <span class="input-group-addon glyphicon glyphicon-search search-sighting"  id="basic-addon1" style="cursor:pointer"></span>
               <input type="text" id="search" class="form-control" placeholder="ROBIN..." aria-describedby="basic-addon1">
            </div>
         </div>
         <div class="le-bird">
            <ul id="bird-sighting">
            </ul>
         </div>
      </div>
      <div class="row le-bird-box">
         <div class="form-group row le-bird" style="margin:10px">
            <label for="time-input" class="col-2 col-form-label">le time</label>
            <div class="col-10">
               <input class="form-control" type="time" value="02:45:50" step="1" id="time-probability">
            </div>
         </div>
         <div class="le-bird-probability" style="margin:10px">
            <button type="button" id="view-probabilities"class="btn btn-default" style="font-size: 12px;
               font-weight: 300;
               text-transform: uppercase;
               margin-top: 5px;"> le birds and probability </button>
         </div>
         <div class="le-bird">
            <ul id="all-birds">
            </ul>
         </div>
      </div>
   </div>
</div>
<script src="/static/js/main.js"></script>
{% endblock %}
